$left-box-color:#212024;
$right-box-color:#fff;
$side-yellow-color:yellow;
$contact-color:#2b2a30;
$text-color:#fff;
$hr-color:#756f64;
$about-me-color:#4e4e4e;
$hr-right-side:#7e7e7e;
$work-experience-color:#969696;
$right-side-name-sction-color:#fecb00;
$font-weights:(
    "regular":100,
    "medium":600,
    "bold":700
);

$font-size:(
    "regular":12px,
    "medium":14px,
    "large":18px,
    "xl":20px,
    "xxl":26px
)
